<hr style="border-width:2px;border-color:#75DFC1">
<center><h2>Constitution du jeu de données produits</h2></center>
<hr style="border-width:2px;border-color:#75DFC1">

<blockquote>
Nous allons à présent créer un jeu de données similaires pour les produits. Il faut donc créer (ou réutiliser) des variables pour aggréger les données à la maille produit. <br>
Nous voulons savoir pour chaque produit: 
<ul>
    <li>le nombre de fois où il a été vu, ajouté au panier, acheté.</li>
    <li>combien de visiteurs uniques sont impliqués dans une chacune de ces actions</li>
    <li>les dates minimum et maximum auxquelles, ils ont subi des actions (ce qui pourrait impliquer leur présence ou absence sur le site notamment).</li>
</ul>
</blockquote>

* réaliser les opération qui permettent d'obtenir ces données dans un dataset <code>df_item</code>
* le nom des colonnes à garder est donné ci-dessous
* sauvegarder le jeu de données obtenu dans un fichier appelé <code>item_data.csv</code>

In [17]:
# Insérer votre code ici

# nom des colonnes 
new_column_names = [
    'nb_unique_transactions',
    'nb_view_events',
    'nb_addtocart_events',
    'nb_transaction_events',
    'min_datetime',
    'max_datetime',
    'nb_view_unique_visitors',
    'nb_addtocart_unique_visitors',
    'nb_transaction_unique_visitors',
    'nb_unique_visitors'
]

In [18]:
# Insérer le code ici

# nom des colonnes 
new_column_names = [
    'nb_unique_transactions',
    'nb_view_events',
    'nb_addtocart_events',
    'nb_transaction_events',
    'min_datetime',
    'max_datetime',
    'nb_view_unique_products',
    'nb_addtocart_unique_products',
    'nb_transaction_unique_products',
    'nb_unique_products'
]

# calcul du nombre de visiteurs uniques en fonction par action

new_columns = ['visitorid_view', 'visitorid_addtocart', 'visitorid_transaction']
events = ['view', 'addtocart', 'transaction']

for col, event in zip(new_columns, events): 
    df[col] = 0
    df.loc[df['event'] == event, col] = df['visitorid'][df['event'] == event]
    
# construction du dictionnaire d'aggrégation

aggregation = {
    'transactionid': 'nunique',
    'event_view': sum,
    'event_addtocart': sum,
    'event_transaction': sum,
    'datetime': [min, max],
    'visitorid_view': 'nunique',
    'visitorid_addtocart': 'nunique',
    'visitorid_transaction': 'nunique',
    'visitorid': 'nunique'
}

# aggregation
df_item = df.groupby(['itemid']).agg(aggregation)
df_item.columns = new_column_names

df_item.to_csv('item_data.csv')

df_item.head()

,nb_unique_transactions,nb_view_events,nb_addtocart_events,nb_transaction_events,min_datetime,max_datetime,nb_view_unique_products,nb_addtocart_unique_products,nb_transaction_unique_products,nb_unique_products
itemid,,,,,,,,,,
3,0,2.0,0.0,0,2015-08-18 20:30:40.493,2015-08-31 16:39:02.792,2,1,1,2
4,0,3.0,0.0,0,2015-06-30 09:03:11.545,2015-09-16 01:22:44.099,3,1,1,3
6,0,29.0,0.0,0,2015-05-06 22:33:13.122,2015-08-27 19:09:02.814,26,1,1,26
9,0,2.0,0.0,0,2015-05-14 00:53:14.505,2015-07-09 03:35:08.315,2,1,1,2
15,1,18.0,3.0,1,2015-05-25 23:50:41.181,2015-07-21 02:02:59.529,14,3,2,13